{{#each this}}
<div class="carousel-item">
  <div class="first">
    <span class="word transform cardTarget">{{word}}</span>
    <span class="translation cardTarget hidden">{{translation}}</span>
  </div>
</div>
{{/each}}